<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link type="text/css" rel="stylesheet" href="reset.css"/>
	<link type="text/css" rel="stylesheet" href="main.css"/>
	<link type="text/css" rel="stylesheet" href="{{style}}"/>
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>	
<title>{{pagename}} - Spanzuratoarea </title>
</head>
<body>
	
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Slimezuratoarea</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        	<a class="mdl-navigation__link" id="dlink"	href="#despre">Despre</a>
      	<a class="mdl-navigation__link" id="clink"	href="#contact">Contact</a>
      	<a class="mdl-navigation__link" id="alink" 	href="#ajutor">Ajutor</a>
      
        
      </nav>
    </div>
  </header>
 <!-- <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" id="dlink"href="#despre">Despre</a>
      <a class="mdl-navigation__link" id="clink"href="#contact">Contact</a>
      <a class="mdl-navigation__link" id="alink" href="#ajutor">Ajutor</a>
      
    </nav>
  </div>-->
  <main class="mdl-layout__content">
  {{{body}}}
  </main>
</div>

<!--ajutor-->
<div id="ajutor" class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Ajutor</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Un scurt text pentru ajutor
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      inchide
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
<!--despre-->
<div id="despre" class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Despre</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Despre mine si colegul meu
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
<!--contact-->
<div id="contact" class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Contact</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Contacteazane
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Contacteazane
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>

	     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
		<script src="bootstrap/js/bootstrap.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			
			
			$("#alink").click(function () {
			$("#contact").hide();$("#despre").hide();
				$("#ajutor").fadeToggle();
			});	
			$("#dlink").click(function () {
			$("#ajutor").hide();$("#contact").hide();
				$("#despre").fadeToggle();
			});	
			$("#clink").click(function () {
			$("#despre").hide();$("#ajutor").hide();
				$("#contact").fadeToggle();
			});		
		});
	</script>
</body>
</html>
