<img id="canvas" src="http://www.curteascolii.ro/arcade/img/Spanzuratoarea-extrema-sadice-sange-curteascolii-ro-2010.png"/>
	
<p><div id="controlls"><div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Text...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
  Verifica
</button></p>
  
</div>
<script type="text/javascript">
	var canvas= document.getElementById("canvas");
	var input = document.getElementById("usrinput");
	var miss =  document.getElementById("greseli");
	var wins =  document.getElementById("reusite");
	 
</script>
