<video id="canvas" >
	<source src="" type="">
	<source src="" type="">
	Browser-ul acesta nu suporta HTML5 video
</video>
<div id="controlls"><p>Introduceti literele:<input type="text" id="usrinput" placeholder="Litere"/>
</p>Greseli:<p id="greseli"></p>Reusite:<p id="reusite"></p>
</div>
<script type="text/javascript">
	var canvas= document.getElementById("canvas");
	var input = document.getElementById("usrinput");
	var miss =  document.getElementById("greseli");
	var wins =  document.getElementById("reusite");
	 
</script>
