<h1>Introduceti email si parola</h1>
<form action="/" method="get">
	<input name="usr" id="username" placeholder="Email">
	<input name="pwd" id="password" placeholder="Parola">
	<input id="submit" type="submit"value="Login"/>
</form>
