<h1>Introduceti email si parola</h1>
<form action="/" method="post">
	<input name="username" id="username" placeholder="Email">
	<input name="password" id="password" placeholder="Parola">
	<input name="submit" id="submit" type="submit"value="Login"/>
</form>
