<form method="post" action="/register/new">
	<input type=text name="nickname" placeholder="Alege un nickname" />

	<input type="text" name="email" placeholder="Introduceti un email" />
	<input type="text" name="password" placeholder="Alege o parola" />
	<input type="text" name="age" placeholder="0"/>
</form>
