
.demo-layout-transparent {
  background: url('404pic.jpg')center / cover;
}
.jumbotron{
		width: 50%;
		margin-top: 100px;%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background:#fefefe !important;
		  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		
}